@model List<FavoriteCatsModel>

<h1>Favorite Cats</h1>

<center><img style="height:375px" width="550px" src="https://cf.ltkcdn.net/cats/cat-breeds/images/std/325488-800x515-ragdoll-cat-breed.webp"/></center>

@if (Model == null)
{
    <p>You haven't added any cats to your list yet!</p>
}
else
{   
    @foreach (var FavoriteCat in Model)
    {
    <center><h4>@FavoriteCat.BreedName</h4></center>
    
    }
}


<div class="form-check">
  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
  <label class="form-check-label" for="defaultCheck1">Default checkbox</label>
</div>


<li class="nav-item">
    <a class="nav-link text-primary" asp-area="" asp-controller="FavoriteCats" asp-action="Add">Your Favorite Cats</a>
</li>
<a class="nav-link text-primary" asp-area="" asp-controller="Breeds" asp-action="Breeds">Add A Breed</a>
<a class="nav-link text-primary" asp-area="" asp-controller="Hashtags" asp-action="Delete">Delete</a>

<a href="c:\users\iltani\desktop\c# projects 2.0\2023-purrrfect-cats\purrrfect-cats\views\favoritecats\favoritecats.cshtml">c:\users\iltani\desktop\c# projects 2.0\2023-purrrfect-cats\purrrfect-cats\views\favoritecats\favoritecats.cshtml</a>