@{
    ViewData["Title"] = "Home Page";
}

<div class="HomeBackground" >
 <img id="homeimage"  class="img-fluid" src="https://higginsandfriends.com/wp-content/uploads/2016/11/cat-background-higgins-free.jpg" />
  <div class="card-img-overlay">
    <h5 class="card-title">Purrfectly Adorable</h5>
    <p class="card-text">"Get ready to pounce into the world of cat breeding and showing</p>
    <p class="card-text">– it's time to show off your feline prowess!"</p>
    
  </div>
</div>

 <div class="container text-center treepicture">
   <div class="row">
        <div class="col-6 col-md-4">    
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner carouselpictures">
                <div class="carousel-item active">
                  <img src="https://m.media-amazon.com/images/I/41SGRLstzIL._AC_.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://m.media-amazon.com/images/I/41DP3OnvwOL.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                  <img src="https://www.shutterstock.com/image-photo/fun-fluffy-cat-looks-banana-260nw-1868613808.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>
            <h3> Teaming Up</h3>
            <span>
                We're right there with you as you make a better future for homeless cats, giving you the support you 
                need to care for your pets and the pets and people in your community.
            </span>
        </div>
    
        <div class="col-6 col-md-4">   
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner carouselpictures">
                    <div class="carousel-item active">
                        <img src="https://www.mlive.com/resizer/ZPMQo9ZlfONsnpE-t4ltFJA5nuk=/500x0/smart/advancelocal-adapter-image-uploads.s3.amazonaws.com/image.mlive.com/home/mlive-media/width2048/img/newsnow_impact/photo/13286631-large.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://cdn.rescuegroups.org/4205/pictures/animals/19180/19180586/93589895.jpg?width=500" class="d-block w-100" alt="...">
                    </div>
                   
                </div>
            </div>
            <h3> Standing with shelters</h3>
            <span>
                We work to save more lives faster by providing shelters and rescue groups with ways to collaborate and connect so they can 
                increase the number of animals they can rehome in their communities.
            </span>
        </div>
        


        <div class="col-6 col-md-4">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner carouselpictures">
                    <div class="carousel-item active">
                        <img src="https://www.zooplus.co.uk/magazine/wp-content/uploads/2019/11/Vet-deworms-kitten.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.mWm8chxvaTxoorDWAoVYfAHaFj%26pid%3DApi&f=1&ipt=37f2c607015e6754d98f9eeb53121c8f8814d1456a9f48552db1f837a184f5d3&ipo=images" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="https://charlestonanimalsociety.org/nokillscshelter/wp-content/uploads/2020/11/lifesaving-stats.jpg" class="d-block w-100" alt="...">
                    </div>
                <div>
            </div>
        </div>
        <h3>Saving Lives</h3>
        <span>
      We ensure second chances to pets at our sanctuary and lifesaving centers, even as we expand programs nationwide that keep animals out of shelters in the first place.
    </span>
    </div>
  </div>
 