@{
    ViewData["Title"] = "Home Page";
}

<div class="HomeBackground" >
     
 <img id="homeimage"  class="img-fluid" src="https://higginsandfriends.com/wp-content/uploads/2016/11/cat-background-higgins-free.jpg" />
</div>

   <div class="container text-center treepicture">
  <div class="row">
    <div class="col-6 col-md-4">
        
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner carouselpictures">
    <div class="carousel-item active">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fchTwFEBDvwAbMb5Af32UQHaFj%26pid%3DApi&f=1&ipt=26b576dad12cd5889d0269ebda925ec5863e1886e0921689585807a46ff70edc&ipo=images" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.mWm8chxvaTxoorDWAoVYfAHaFj%26pid%3DApi&f=1&ipt=37f2c607015e6754d98f9eeb53121c8f8814d1456a9f48552db1f837a184f5d3&ipo=images" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.q9qj0S38Wg9kPayEDemz0gHaFj%26pid%3DApi&f=1&ipt=163aa7bc4ec3e8a4ad7003cdf74ec69d0e7fe967f75651cddb7a56a923848687&ipo=images" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
      
    </div>
    <div class="col-6 col-md-4">
      
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner carouselpictures">
    <div class="carousel-item active">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fchTwFEBDvwAbMb5Af32UQHaFj%26pid%3DApi&f=1&ipt=26b576dad12cd5889d0269ebda925ec5863e1886e0921689585807a46ff70edc&ipo=images" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.mWm8chxvaTxoorDWAoVYfAHaFj%26pid%3DApi&f=1&ipt=37f2c607015e6754d98f9eeb53121c8f8814d1456a9f48552db1f837a184f5d3&ipo=images" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.q9qj0S38Wg9kPayEDemz0gHaFj%26pid%3DApi&f=1&ipt=163aa7bc4ec3e8a4ad7003cdf74ec69d0e7fe967f75651cddb7a56a923848687&ipo=images" class="d-block w-100" alt="...">
    </div>
  </div>
</div>
    </div>
    <div class="col-6 col-md-4">
      
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner carouselpictures">
    <div class="carousel-item active">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.fchTwFEBDvwAbMb5Af32UQHaFj%26pid%3DApi&f=1&ipt=26b576dad12cd5889d0269ebda925ec5863e1886e0921689585807a46ff70edc&ipo=images" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.mWm8chxvaTxoorDWAoVYfAHaFj%26pid%3DApi&f=1&ipt=37f2c607015e6754d98f9eeb53121c8f8814d1456a9f48552db1f837a184f5d3&ipo=images" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse3.mm.bing.net%2Fth%3Fid%3DOIP.q9qj0S38Wg9kPayEDemz0gHaFj%26pid%3DApi&f=1&ipt=163aa7bc4ec3e8a4ad7003cdf74ec69d0e7fe967f75651cddb7a56a923848687&ipo=images" class="d-block w-100" alt="...">
    </div>
    <div>
        <h3 class="card-title">
            Saving lives
       </h3>
    </div>
  </div>
</div>
    </div>
  </div>
</div>
