
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');



html {

    font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    font-family: 'Sigmar', cursive;
    margin-bottom: 60px;
}
.navbar {
    margin-left: 10%;
    margin-right: 10%;
    padding-right: 4%;
    padding-left: 4%;
}
.HomeBackground {
    margin-top: -17px;
    margin-top: -300px;
}
#homeimage {
    width: 100%;
    height: 700px;
}
.treepicture {
    margin-top: 100px;
}
.carouselpictures {
    width: 375px;
    clip-path: circle(40% at center);
}
.card-img-overlay {
    
    top: 153px;
    left:94px;
    
}
.card-title {
    color: #747452;
    font-size: 3.25rem;
}
.card-text {
    color: #747452;
    font-size: 1.3rem;
}
/*---------------------------------------- Breed Page-------------------------*/
.Title {
    background-color: #a3a35a8f;
    border-radius: 33%;
}
.breedform1 {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    margin-bottom: 21px;
}
.form-select{
    text-align:center;
}
.botonOption1 {
    margin-left: 46%;
    margin-bottom: 50px;
}
.botonOption2 {
    margin-left: 45%;
    margin-bottom: 59px;
    margin-top: 50px;
}
.breedImg {
    height: 183px;
    margin-bottom: 50px;
    border-radius: 10%;
    margin-top: 10%;
}
.catInfo {
    text-align: center;
    margin-left: 15%;
    margin-right: 15%;
}
.alert-warning{
    text-align:center;
}
